[Unit]
Description=My startup service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/etc/startup-service.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
